{
  "name": "{{ manifest_name }}",
  "short_name": "{{ short_name }}",
  "start_url": ".",
  "display": "standalone",
  "background_color": "{{ background_color }}",
  "theme_color": "{{ theme_color }}",
  "description": "{{ description }}",
  "orientation": "any",
  "prefer_related_applications": false,
  "icons": [
    {
      "src": "{{ icon_src }}",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "{{ icon_src }}",
      "sizes": "512x512",
      "type": "image/png"
    },
    {
      "src": "{{ icon_src }}",
      "sizes": "192x192",
      "type": "image/png",
      "purpose": "maskable"
    },
    {
      "src": "{{ icon_src }}",
      "sizes": "512x512",
      "type": "image/png",
      "purpose": "maskable"
    }
  ]
}
